body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.highlight, .highlight a {
	color: red;
	font-weight: bold;
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.max-size {
	width: 275px;
	height: 250px;
}
